.bg_check-date {
  background-color: #f2f3f3;
}
  
.margin-text {
  margin-right: 12px;
}
  
.color_wifi {
  color: #0bc175;
  font-weight: 500;
}

.text-size {
  font-size: 12px;
  word-spacing: 2px;
  line-height: 1.2;
  font-weight: 600;
}
  